.catalog {
  @include container;

  // Для сетки
  box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 0.5);

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }
}
