.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin-bottom: 39px;
  font-size: 15px;
  line-height: 30px;
  color: $secondary-dark;
}

.contacts__info-wrapper {
  width: 260px;
  margin: auto;
  margin-bottom: 35px;
}

.contacts__title {
  margin: 0;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $primary-dark;
}

.contacts__yandex-map {
  width: 100%;
  height: 457px;
  margin-bottom: 40px;
  border: none;
  background-image: url("../img/map-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

.contacts__button {
  max-width: 261px;
  margin: auto;
  padding: 14px 50px;
}

.contacts__table {
  display: flex;
  border-collapse: collapse;
  border-spacing: 0;
}

.contacts__table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.contacts__row {
  display: flex;
  padding-bottom: 0;
  padding-top: 29px;
}

.contacts__table th {
  width: 76px;
  text-align: left;
  font-weight: 400;
}

.contacts__cell--email a {
  color: inherit;
  padding-bottom: 5px;
  border-bottom: 1px solid $highlighted-light;

  &:hover {
    color: $highlighted-light;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__cell--adress {
  width: 141px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 56px;
    padding-top: 31px;
  }

  .contacts__info-wrapper {
    width: 670px;
    margin: auto;
    margin-bottom: 55px;
    padding-top: 30px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-size: 60px 82px;
    background-position: right -2px top 14px;
  }

  .contacts__title {
    margin-bottom: 48px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__table tbody {
    flex-direction: row;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__row {
    width: 50%;
    padding: 0;
  }

  .contacts__cell--adress {
    width: 230px;
  }

  .contacts__yandex-map {
    margin-bottom: 55px;
    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  .contacts__button {
    padding: 16px 39px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1050px;
    min-height: 457px;
    margin: auto;
    margin-bottom: 107px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 140px;
    box-sizing: border-box;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 100% 20px;
    background-position: top 8px left -25px;
    background-repeat: repeat-x;
  }

  .contacts__info-wrapper {
    width: 350px;
    margin: 0;
    margin-left: 50px;
    margin-right: auto;
    padding-left: 120px;
    background-position: left 6px top 24px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__yandex-map {
    position: absolute;
    top: 100px;
    right: 0;
    width: 527px;
    height: 457px;
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  .contacts__table {
    margin-bottom: 46px;
  }

  .contacts__table tbody {
    flex-direction: column;
  }

  .contacts__row {
    width: 100%;
    margin-bottom: 30px;
  }

  .contacts__button {
    margin-left: 175px;
  }
}
