.developers {
  display: flex;
  align-items: center;
}

.developers__link {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: auto;
  width: 186px;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  color: $primary-dark;

  p {
    margin: 0;
    padding-top: 4px;
  }

  svg {
    fill: #61d1bb;
  }

  &:hover {
    svg {
      fill: rgba(70, 193, 174, 1);
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    svg {
      fill: rgba(70, 193, 174, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .developers {
    margin: 0;
    margin-bottom: 43px;
  }

  .developers__link p {
    padding-top: 4px;
  }

  .developers__text {
    margin-right: 30px;
  }
}
