.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods__item {
  &--interior {
    background-color: $highlighted-light;
  }

  &--kids {
    background-color: $highlighted-dark;
  }
}

.goods__link {
  font-family: inherit;
  font-weight: 700;
  font-size: $fs-subtitle;
  line-height: $lh-medium;
  color: $primary-light;
  text-decoration: none;
}
