.goods {
  @include container;
  padding: 0;
}

.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods__item {
  padding: 27px 29px;
  &--interior {
    background-color: $highlighted-light;
  }

  &--kids {
    background-color: $highlighted-dark;
  }
}

.goods__link {
  display: block;
  max-width: 177px;
  font-family: inherit;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $primary-light;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .goods {
    margin-bottom: 43px;
  }

  .goods__list {
    display: flex;
    flex-wrap: wrap;
  }

  .goods__item {
    width: 50%;
    padding: 31px 35px;
    box-sizing: border-box;
  }

  .goods__link {
    line-height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .goods {
    margin-bottom: 72px;
  }
}
