.main-header {
  width: 100%;
  padding-top: 22px;
}

.main-header__container {
  @include container;
  position: relative;
}

.main-header__links-wrapper {
  display: none;
}

.main-header__delivery {
  position: absolute;
  bottom: 0;
  right: 50px;
  display: none;
  margin: 0;
  padding: 10px 0;
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding-top: 0;
  }

  .main-header__logo {
    padding-top: 22px;
    margin: initial;
    margin-bottom: -71px;
    width: 112px;
  }

  .main-header__links-wrapper {
    display: block;
  }

  .main-header__button {
    display: none;
  }

  .main-header__nav {
    display: flex;
    margin-bottom: -45px;
  }

  .main-header__delivery {
    display: block;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    margin: auto;
    margin-bottom: -85px;
    margin-top: 8px;
    width: 150px;
    padding-top: 0;
  }

  .main-header__nav {
    margin-bottom: -85px;
  }

  .main-header__delivery {
    padding-bottom: 40px;
  }
}
