.main-footer {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 23px;
  background-color: $secondary-light;
}

.main-footer__container {
  @include container;
}

.main-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding-top: 52px;
    padding-bottom: 50px;
  }

  .main-footer__container {
    display: flex;
  }

  .main-footer__logo {
    display: block;
  }

  .main-footer__social-list {
    padding-top: 5px;
  }
}
@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 48px;
  }

  .main-footer__developers {
    margin-top: 5px;
  }
}
