.main-header {
  width: 100%;
  padding-top: 22px;
  border-bottom: 1px solid #ececec;
}

.main-header__container {
  min-width: $mobile-width;
}

.main-header__delivery-wrapper,
.main-header__offers {
  display: none;
}

.main-header__navigation,
.main-header__user-tools {
  display: none;
}

.main-header__top {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.main-header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-header__toggle {
  position: absolute;
  right: calc(50% - 132px);
  top: 2px;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  cursor: pointer;
}

.main-header__toggle.menu-opened {
  background-image: url("../img/icon-menu-close.svg");
}

.main-header__delivery {
  margin: 0;
  padding: 10px 0;
  font-size: 15px;
  line-height: 24px;
}

.nojs .main-header__toggle {
  display: none;
}

.main-header__navigation.menu-opened,
.main-header__user-tools.menu-opened {
  @media (max-width: $tablet-width) {
    position: inherit;
    display: flex;
    opacity: 1;
  }
}

.nojs .main-header__navigation,
.nojs .main-header__user-tools {
  @media (max-width: $tablet-width) {
    position: inherit;
    display: flex;
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .main-header__container {
    @include container;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__delivery-wrapper {
    display: block;
    order: 2;
    max-height: 0;
  }

  .main-header__navigation,
  .main-header__user-tools {
    display: flex;
  }

  .main-header {
    padding-top: 0;
  }

  .main-header__top {
    width: initial;
    max-width: 310px;
    margin: 0;
    margin-right: auto;
    border-bottom: none;
  }

  .main-header__logo {
    width: 112px;
    margin: 0;
    padding-top: 8px;
  }

  .navigation {
    order: 1;
    margin-right: auto;
    max-height: 0;
  }

  .main-header__delivery {
    margin-top: 21px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header__offers {
    display: flex;
  }

  .main-header__logo {
    margin: auto;
    margin-top: 8px;
    width: 150px;
    padding-top: 0;
  }

  .main-header__top {
    order: 0;
    flex-shrink: 0;
    margin: 0;
    margin-right: 99px;
    max-width: 150px;
  }

  .main-header__navigation {
    flex: none;
    order: -1;
    width: calc(50% - 80px);
    margin-right: 17px;
  }

  .main-header__user-tools {
    flex: none;
    width: calc(50% - 80px);
  }

  .navigation {
    max-height: initial;
  }

  .main-header__delivery-wrapper {
    flex: none;
    width: 50%;
    text-align: right;
    max-height: 0;
  }

  .main-header__delivery {
    padding: 0;
    margin-top: 20px;
  }
}
