.navigation {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__item {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #c6c6c6;
}

.navigation__link {
  display: inline-block;
  width: 320px;
  margin: auto;
  padding: 27px 47px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $primary-dark;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    max-width: 325px;
    margin-right: auto;
  }

  .navigation__item {
    display: block;
    width: initial;
    max-width: 150px;
    border: none;

    &:nth-child(even) {
      max-width: 175px;
    }
  }

  .navigation__link {
    width: initial;
    font-size: 15px;
    display: block;
    padding: 10px;
  }

  .navigation__item:nth-child(odd) a {
    padding: 21px 10px 10px 0;
  }

  .navigation__item:nth-child(even) a {
    padding: 21px 10px 10px 26px;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    max-width: 441px;
    min-height: 87px;
  }

  .navigation__item {
    max-width: 185px;
    margin-right: 33px;

    &:nth-child(even) {
      max-width: initial;
    }
  }

  .navigation__link {
    max-width: 185px;
    font-size: 17px;
  }

  .navigation__item:nth-child(odd) a {
    padding: 31px 35px 32px 0;
    border-right: 1px solid #c6c6c6;
  }

  .navigation__item:nth-child(even) a {
    padding: 31px 27px 32px 0;
  }
}
