.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__item {
  &--new,
  &--sale {
    display: none;
  }
}

.navigation__link {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: $primary-dark;
  text-decoration: none;
}


@media (min-width: $tablet-width) {
  .navigation {
    width: 322px;
    margin-top: 107px;
    display: flex;
    flex-wrap: wrap;
  }

  .navigation__item:first-child {
    margin-right: 30px;
  }

  .navigation__link {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    width: 45%;
    margin-top: 0;
  }

  .navigation__item {
    &--new,
    &--sale {
      display: block;
    }
  }

  .navigation__item:nth-child(odd) {
    padding: 27px 0 35px 0;
    width: 184px;
    margin-right: 0;
  }

  .navigation__item:nth-child(even) {
    padding: 27px 0 35px 35px;
  }
}
