.order {
  @include container;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $primary-dark;
}

.order__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.order__legend {
  text-transform: uppercase;
  color: $highlighted-light;
}

.order__footnote {
  color: $secondary-dark;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.order__type-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order__colors-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order__colors-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order__user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .order__type-list {
    width: 100%;
    margin-left: 175px;
    margin-top: -25px;
  }

  .order__colors-list {
    width: 100%;
    margin-left: 175px;
    margin-top: -25px;
  }

  .order__legend {
    display: inline-block;
    width: 75px;
    margin-right: 100px;
  }

  .order__user-list .order__label {
    margin-left: 175px;
  }
}
// @media (min-width: $desktop-width) {
// }
