.page {
  // @include container;
  width: $mobile-width;
  padding: 0 30px;
  margin: auto;
}

.page__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $primary-dark;
  background-color: $secondary-light;
}

.page__desciprion {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $secondary-dark;
}


@media (min-width: $tablet-width) {
  .page {
    width: $tablet-width;
    padding: 0 50px;
  }

  .page__title {
    margin: 0;
    padding: 100px 0 80px 0;
    margin-bottom: 80px;
    font-size: 43px;
    line-height: 50px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .page {
    width: $desktop-width;
    padding: 0 50px;
  }

  .page__title {
    padding: 100px 0 100px 0;
    margin-bottom: 130px;
    font-size: 53px;
    line-height: 57px;
  }
}
