.popular-item {
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: repeat-x;
  background-position-x: 8px;
}

.popular-item__container {
  @include container;
  position: relative;
  padding-bottom: 45px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $secondary-dark;
}

.popular-item__item-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $primary-dark;
}

.popular-item__title {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $highlighted-light;
  text-transform: uppercase;
}

.popular-item__description-wrapper {
  margin-bottom: 29px;
}

.popular-item__description {
  margin: 0;
  margin-bottom: 20px;
}

.popular-item__table {
  display: flex;
  border-collapse: collapse;
  border-spacing: 0;
}

.popular-item__table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.popular-item__row {
  display: flex;
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 7px;
  padding-top: 5px;
}

.popular-item__table th {
  width: 95px;
  text-align: left;
  font-weight: 400;
}

.popular-item__image {
  margin-bottom: 19px;
}

.popular-item__price {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.popular-item__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .popular-item {
    background-position-x: 20px;
    background-size: 100% 17px;
  }

  .popular-item__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 460px;
    margin-bottom: 0;
    padding-bottom: 74px;
  }

  .popular-item__picture {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }

  .popular-item__title-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 42px;
  }

  .popular-item__item-title {
    font-size: 43px;
    line-height: 50px;
  }

  .popular-item__title {
    width: 90px;
    margin-left: auto;
    margin-bottom: 0;
    padding: 15px 18px 15px 10px;
    text-align: center;
    line-height: 17px;
  }

  .popular-item__description-wrapper {
    width: 50%;
    margin-bottom: 57px;
  }

  .popular-item__description {
    width: 290px;
    margin-bottom: 39px;
    line-height: 29px;
    letter-spacing: 1px;
  }

  .popular-item__table {
    width: 295px;
  }

  .popular-item__price {
    font-size: 21px;
    margin-bottom: 34px;
  }

  .popular-item__action-wrapper {
    width: 291px;
  }
}

@media (min-width: $desktop-width) {
  .popular-item {
    background: none;
  }

  .popular-item__container {
    flex-direction: column;
    min-height: 636px;
    padding-bottom: 0;
    margin-bottom: 73px;
  }

  .popular-item__picture {
    position: absolute;
    top: 0;
    right: 0;
  }

  .popular-item__title-wrapper {
    flex-direction: row-reverse;
    margin-top: 53px;
    margin-bottom: 43px;
    z-index: 1;
  }

  .popular-item__item-title {
    margin-right: auto;
    font-size: 53px;
    line-height: 57px;
  }

  .popular-item__title {
    margin-left: 0;
    padding: 0 43px 0 38px;
  }

  .popular-item__description-wrapper {
    width: 33%;
    margin-right: auto;
    margin-bottom: 112px;
    padding-left: 175px;
  }

  .popular-item__description {
    margin-bottom: 52px;
  }

  .popular-item__image {
    margin: 0;
    margin-right: 50px;
  }

  .popular-item__action-wrapper {
    width: 292px;
    margin-right: auto;
    padding-left: 175px;
  }
}
