.production {
  @include container;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  line-height: 24px;
}

.production__title {
  margin: 0;
  padding: 25px 25px 20px 90px;
  font-weight: 700;
  color: $primary-dark;
  font-size: 17px;
}

.production__video {
  margin-bottom: 21px;
}

.production__description {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 40px;
  font-weight: 400;
  line-height: 24px;
  color: $secondary-dark;
  font-size: 13px;
}

.production__button {
  margin: auto;
  margin-bottom: 30px;
  padding: 14px 20px;
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 110px;
  }

  .production__title {
    padding: 15px 25px 0 107px;
    margin-bottom: 32px;
    font-size: 20px;
  }

  .production__video {
    order: -1;
    margin-bottom: 15px;
  }

  .production__description {
    width: 583px;
    padding-left: 42px;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .production__button {
    margin: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    min-height: 461px;
    margin-bottom: 98px;
    padding-top: 96px;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 50px;
  }

  .production__title {
    align-self: flex-end;
    width: 350px;
    padding: 0;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 34px;
    box-sizing: border-box;
  }

  .production__description {
    align-self: flex-end;
    width: 350px;
    padding: 0;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 46px;
    box-sizing: border-box;
    line-height: 29px;
  }

  .production__button {
    width: 228px;
    margin-left: auto;
    margin-right: 60px;
  }
}
