.production {
  @include container;
  margin-bottom: 61px;
  line-height: 24px;
}

.production__content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  margin: 0;
  padding: 25px 25px 25px 90px;
  font-weight: 700;
  color: $primary-dark;
  font-size: 17px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-size: 35px 33px;
  background-position: 33px 29px;
}

.production__video-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.production__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 80px;
  font-family: $ff-basic;
  background-image: url("../img/icon-play.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  cursor: pointer;

  &:hover {
    width: 120px;
    height: 96px;
  }

  &:active {
    width: 80px;
    height: 64px;
  }
}

.production__description {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 40px;
  font-weight: 400;
  line-height: 24px;
  color: $secondary-dark;
  font-size: 13px;
}

.production__button {
  margin: auto;
  margin-bottom: 30px;
  padding: 16px 25px;
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 64px;
  }

  .production__content-wrapper {
    padding-bottom: 46px;
  }

  .production__title {
    padding: 15px 25px 0 107px;
    margin-bottom: 32px;
    font-size: 20px;
    background-size: 35px 35px;
    background-position: 41px 8px;
  }

  .production__video-wrapper {
    order: -1;
    margin-bottom: 15px;
  }

  .production__video-button {
    &:hover {
      width: 120px;
      height: 96px;
    }

    &:active {
      width: 80px;
      height: 64px;
    }
  }

  .production__description {
    width: 583px;
    padding-left: 42px;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .production__button {
    margin: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin-bottom: 105px;
  }

  .production__content-wrapper {
    min-height: 455px;
    padding: 0;
    padding-top: 41px;
    box-sizing: border-box;
  }

  .production__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  .production__video-button {
    &:hover {
      width: 120px;
      height: 96px;
    }

    &:active {
      width: 80px;
      height: 64px;
    }
  }

  .production__title {
    align-self: flex-end;
    width: 350px;
    margin-bottom: 34px;
    padding: 55px 60px 0 60px;
    box-sizing: border-box;
    background-size: 32px 40px;
    background-position: 62px -5px;
  }

  .production__description {
    align-self: flex-end;
    width: 350px;
    padding: 0;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 46px;
    box-sizing: border-box;
    line-height: 29px;
  }

  .production__button {
    width: 228px;
    margin-left: auto;
    margin-right: 60px;
    margin-bottom: 30px;
  }
}
