.product {
  position: relative;
  flex-direction: column;
  display: flex;
  margin-bottom: 30px;
  font-weight: 700;
  color: $primary-dark;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product__image-link {
  display: block;
}

.product__image {
  display: block;
}

.product__info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 28px;
  padding-top: 25px;
  box-sizing: border-box;
  border: 1px solid #ececec;
}

.product__subtitle-link {
  margin-bottom: 5px;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.product__subtitle {
  width: 206px;
  margin: 0;
  font-size: 17px;
  line-height: 23px;
  color: $primary-dark;
}

.product__description {
  margin: 0;
  margin-bottom: 21px;
  font-size: 13px;
  line-height: 30px;
  color: $secondary-dark;
  font-weight: 400;
}

.product__price-wrapper {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid #ececec;
}

.product__price {
  margin: 0;
  margin-right: auto;
  font-size: 15px;
  line-height: 24px;
}

.product__button {
  display: block;
  width: 20px;
  height: 20px;

  svg {
    opacity: 0.2;
  }

  &:hover {
    svg {
      opacity: 1;
      fill: $highlighted-light;
    }
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .product {
    flex-direction: row;
    min-height: 334px;
    margin-bottom: 54px;
  }

  .product__info-wrapper {
    width: 50%;
  }

  .product__price-wrapper {
    flex-grow: 1;
    align-items: flex-end;
    padding-top: 27px;
  }

  .product__subtitle {
    width: 230px;
    font-size: 20px;
    line-height: 24px;
  }

  .product__description {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 12px;
  }

  .product__price {
    font-size: 17px;
    line-height: 24px;
  }

  .product__button {
    margin: 2px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    flex-direction: column;
    width: 315px;
    min-height: 660px;
    margin-bottom: 55px;
    margin-right: 52px;
  }

  .product:nth-child(3n) {
    margin-right: 0;
  }

  .product__info-wrapper {
    flex-grow: 1;
    width: 100%;
    padding-left: 25px;
    padding-bottom: 25px;
  }

  .product__description {
    margin-bottom: auto;
  }

  .product__price-wrapper {
    flex-grow: 0;
  }
}
