.product {
  font-weight: 700;
  color: $primary-dark;
}

.product__subtitle-link {
  text-decoration: none;
}

.product__subtitle {
  font-size: $fs-basic-large;
  line-height: $lh-medium;
  color: $primary-dark;
}

.product__description {
  font-size: $fs-small;
  line-height: $lh-big;
  color: $secondary-dark;
  font-weight: 400;
}

.product__price {
  font-size: $fs-basic;
  line-height: $lh-medium;
}
