.social-list {
  display: flex;
  // margin: 0;
  padding: 0;

  list-style: none;
}

.social-list__link {
  display: block;
  width: 23px;
  height: 23px;

  &--instagram {
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
