.social-list {
  display: flex;
  padding: 0;
  justify-content: space-between;
  width: 145px;
  margin: auto;
  margin-bottom: 53px;

  list-style: none;
}

.social-list__link {
  display: block;
  width: 23px;
  height: 23px;

  &--instagram {
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    width: auto;
    margin: 0;
    margin-left: 158px;
    flex-wrap: wrap;
  }

  .social-list__item {
    margin-right: 35px;
  }
}
