.social-list {
  display: flex;
  padding: 0;
  margin: auto;
  margin-left: 57px;
  margin-bottom: 50px;
  list-style: none;
}

.social-list__link {
  display: block;
  width: 25px;
  height: 25px;
}

.social-list__item {
  margin-right: 35px;
}

.social-list__link:hover svg {
  fill: rgba(70, 193, 174, 1);
}

.social-list__link:active svg {
  fill: rgba(70, 193, 174, 0.3);
}

@media (min-width: $tablet-width) {
  .social-list {
    width: auto;
    margin: 0;
    margin-left: 158px;
    flex-wrap: wrap;
  }

  .social-list__item {
    margin-right: 35px;
    padding-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    margin-left: 350px;
    margin-top: 13px;
  }

  .social-list__item {
    margin-right: 36px;
    padding-top: 0;
  }
}
