.user-tools {
  // display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-tools__item {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #c6c6c6;
}

.user-tools__item:last-child {
  @media (max-width: $tablet-width) {
    border: none;
  }
}

.user-tools__link {
  position: relative;
  display: inline-block;
  width: 320px;
  margin: auto;
  padding: 27px 47px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $primary-dark;
  text-decoration: none;

  p {
    margin: 0;
  }

  svg {
    position: absolute;
    top: 28px;
    left: 0;
    opacity: 0.2;
  }

  &:hover {
    opacity: 0.6;

    svg {
      opacity: 1;
      fill: $highlighted-light;
    }
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .user-tools__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;

    &--search svg {
      top: 37px;
      left: 34px;
    }

    &--basket {
      padding-left: 30px;

      svg {
        left: 0;
        top: 4px;
      }
    }
  }

  .user-tools__item {
    width: initial;
    display: block;
    border: none;
    border-left: 1px solid #c6c6c6;

    &--search {
      padding: 0;
      width: 85px;
      height: 85px;
    }

    &--basket {
      align-self: flex-start;
      padding: 31px 0 32px 31px;
      width: 232px;
      text-align: end;
    }
  }

  .user-tools__link--search {
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .user-tools {
    justify-content: flex-end;
  }
}
