.production {
  font-family: "Opensans", "Arial", sans-serif;
  line-height: $lh-medium;

  &__title {
    font-weight: 700;
    color: $primary-dark;
    font-size: $fs-basic-large;
  }

  &__description {
    font-weight: 400;
    color: $secondary-dark;
    font-size: $fs-small;
  }
}
