body {
  font-family: $ff-basic;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%); /* stylelint-disable-line property-no-vendor-prefix */
          clip-path: inset(100%); /* stylelint-disable-line indentation */
  clip: rect(0 0 0 0);
  overflow: hidden;
}
