// colors
$primary-dark: #000000;
$secondary-dark: #444444;
$primary-light: #ffffff;
$secondary-light: #f1f1f1;
$highlighted-dark: #56c3b2;
$highlighted-light: #63d1bb;

//fonst
$fs-title: 27px;
$fs-title-small: 25px;
$fs-subtitle: 19px;
$fs-basic-large: 17px;
$fs-basic: 15px;
$fs-small: 13px;

$lh-big: 30px;
$lh-medium: 24px;
$lh-small: 20px;

$ff-basic: "Open Sans", "Arial", sans-serif;
