// colors
$primary-dark: #000000;
$secondary-dark: #444444;
$primary-light: #ffffff;
$secondary-light: #f1f1f1;
$highlighted-dark: #56c3b2;
$highlighted-light: #63d1bb;
$button-color: #444444;

// fonst
$ff-basic: "Open Sans", "Arial", sans-serif;

// width
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
