@mixin container {
  width: $mobile-width;
  margin: auto;
  padding: 0 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    // padding: 0 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    // padding: 0 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
