.navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  &__link {
    font-family: "Opensans", "Arial", sans-serif;
    font-weight: 700;
    font-size: $fs-basic-large;
    line-height: $lh-medium;
    color: $primary-dark;
    text-decoration: none;
  }
}
