.navigation {
  margin: 0px;
  padding: 0px;
  list-style: none;
  &__link {
    font-family: 'Opensans';
    font-weight: 700;
    font-size: $fs-basic-large;
    line-height: $lh-medium;
    color: $primary-light;
    text-decoration: none;
  }
}
