.goods {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item--interior {
    background-color: $highlighted-light;
  }

  &__item--kids {
    background-color: $highlighted-dark;
  }

  &__link {
    font-family: "Opensans", "Arial", sans-serif;
    font-weight: 700;
    font-size: $fs-subtitle;
    line-height: $lh-medium;
    color: $primary-light;
    text-decoration: none;
  }
}
