.main-index {
  @include container-mobile;

  &__title {
    margin: 0;
    font-family: "Opensans", "Arial", sans-serif;
    font-weight: 700;
    font-size: $fs-title;
    line-height: $lh-big;
    color: $primary-dark;
    text-align: center;
  }
}
