.popular-item {
  font-family: 'Opensans';
  font-weight: 400;
  font-size: $fs-basic;
  line-height: $lh-medium;
  color: $secondary-dark;
  &__item-title {
    font-weight: 700;
    font-size: $fs-title-small;
    line-height: $lh-big;
    color: $primary-dark;
  }
  &__title {
    font-weight: 700;
    font-size: $fs-basic-large;
    line-height: $lh-small;
    color: $highlighted-light;
    text-transform: uppercase;
  }
  &__price {
    font-weight: 700;
    font-size: $fs-basic-large;
    line-height: $lh-medium;
  }
}
